# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (created inside project folder)
Include/
Lib/
Scripts/
pyvenv.cfg

# Local environment variables (safely ignores .env containing keys)
.env

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp